body {
  /* background-image: url(../img/back1.png);
  background-size: cover;
  background-repeat: no-repeat; */
}

#title {
  border: 2px solid blueviolet;
  background-color: rgba(255, 37, 37, 0.918);
  text-align: center;
  margin-bottom: 10px;
}

#title img {
  height: 50px;
}

/* Div Panel Games */
#gameDetails {
  border: 2px solid yellowgreen;
  margin-bottom: 10px;
}

.colPlayer {
  border: 2px solid blue;
  border-radius: 25px;
  margin-bottom: 10px;
}

.tableDetails {
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.74);
}

.tableDetails td, .tableDetails th {
  font-size: 12px;
  width: 80px;
  color: gold;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;  
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
}

.shipCell {
  background-color:  blue;
  position: absolute;
  width: 39px;
  height: 39px;
}

.salvoCell {
  background-color: red;
}

.hitCell {
  background-color: purple;
}

/* Div Ships Placement */
.divTable {
  display: table;
  margin: 0 auto;
  border: 2px solid red;
  /* background-color: rgba(0, 0, 0, 0.85); */
}

.divTableBody {
  display: table-row-group;
}

.divRow {
  display: table-row;
}

.divCell {
  display: table-cell;
  border: 1px solid blue;
  width: 40px;
  height: 40px;
  color: gold;
  text-align: center;
  touch-action: none;
  user-select: none;
  position: relative;
}

.btnRotate {
  background-image: url(../img/ships/rotate.png);
  background-size: cover;
  width: 20px;
  height: 20px;
  vertical-align: top;
}
