body {
  /* background-image: url(../img/back1.png);
  background-size: cover;
  background-repeat: no-repeat; */
}

#title {
  border: 2px solid blueviolet;
  background-color: rgba(255, 37, 37, 0.918);
  text-align: center;
  margin-bottom: 10px;
}

#title img {
  height: 50px;
}

/* Div Panel Games */
#gameDetails {
  border: 2px solid yellowgreen;
  margin-bottom: 10px;
}

.colPlayer {
  border: 2px solid blue;
  border-radius: 25px;
  margin-bottom: 10px;
}

.tableDetails {
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.74);
}

.tableDetails td, .tableDetails th {
  font-size: 12px;
  width: 80px;
  color: gold;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;  
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
}

.shipCell {
  /* background-color:  blue; */
  position: absolute;
  width: 40px;
  height: 40px;
}

.salvoCell {
  background-color: red;
}

.hitCell {
  background-color: purple;
}

/* Div Ships Placement */
.divTable {
  display: table;
  margin: 0 auto;
  border: 2px solid red;
  /* background-color: rgba(0, 0, 0, 0.85); */
}

.divTableBody {
  display: table-row-group;
}

.divRow {
  display: table-row;
}

.divCell {
  display: table-cell;
  border: 1px solid blue;
  width: 40px;
  height: 40px;
  color: gold;
  text-align: center;
  touch-action: none;
  user-select: none;
  position: relative;
}

.btnRotate {
  background-image: url(../img/ships/rotate.png);
  background-size: cover;
  width: 20px;
  height: 20px;
  vertical-align: top;
}

#placingShips {
  border: 2px solid blue;
  margin: 20px auto;
  padding: 20px;
}

.shipView{
  width: 100%;
  border: 1px solid red;
  margin: 20px auto;
}

.carrierHor {
  background-image: url(../img/ships/carrierHor.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 40px;
}
.destroyerHor {
  background-image: url(../img/ships/destroyer.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 160px;
  height: 40px;
}
.battleshipHor {
  background-image: url(../img/ships/battleship.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  margin-top: 5px;  
}
.submarineHor {
  background-image: url(../img/ships/submarine.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 40px;
  margin-top: 10px;
}
.patrolboatHor {
  background-image: url(../img/ships/patrolboat.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 40px;  
}

.carrierVer {
  transform: rotate(90deg);
}
.destroyerVer {
  transform: rotate(90deg);
  transform-origin: 20px 20px;
}
.battleshipHor {
  background-image: url(../img/ships/battleship.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  margin-top: 5px;  
}
.submarineHor {
  background-image: url(../img/ships/submarine.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 40px;
  margin-top: 10px;
}
.patrolboatHor {
  background-image: url(../img/ships/patrolboat.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 40px;  
}

.blink {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes blink{
  from {
    opacity: 20%;
  }
  to {
    opacity: 80%;
  }
}